.layout-main {
  flex: 1 1 auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4rem);
  margin-top: 4rem;
}

.layout-content-wrapper {
  // padding-top: 2rem;
  min-height: 100vh;
  transition: margin-left var(--element-transition-duration);
}
